<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/project/edit/<%= dtProject.id %>" method="post">
      <input type="text" name="name" value="<%= dtProject.name %>">
      <input type="text" name="status" value="<%= dtProject.status %>">
      <button type="submit" name="submit"> SAve</button>
    </form>
  </body>
</html>
